@import "../../styles/variables";
@import "../../styles/include-media";

.headline {
  text-align: center;
  margin-bottom: 43px;

  @include media("<phone") {
    margin-bottom: 30px;
  }

  > * {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.form {
  max-width: 746px;
  margin: 0 auto;

  &Row {
    display: flex;
    margin: -22px -15px;

    @include media("<phone") {
      flex-direction: column;
      margin: 0 -10px;
    }
  }

  &Col {
    position: relative;
    flex: 1;
    width: 100%;
    padding: 22px 15px;

    @include media("<phone") {
      padding: 10px;
    }
  }

  &Input {
    font-size: 16px;
    line-height: normal;
    display: block;
    line-height: normal;
    width: 100%;
    border: 1px solid #171b31;
    background-color: #171b31;
    border-radius: 4px;
    color: var(--color-green);
    outline: none;
    box-shadow: none;
    padding: 0.75em 0.9375em;
    transition: border-color 0.2s ease;

    &:focus {
      border-color: var(--color-green);
    }

    &::placeholder {
      color: #f6f6f680;
      opacity: 1;
    }

    &:-webkit-autofill {
      border: 1px solid var(--color-green);
      -webkit-text-fill-color: var(--color-green);
      -webkit-box-shadow: 0 0 0px 1000px #171b31 inset;
      transition: background-color 5000s ease-in-out 0s;

      &:hover,
      &:focus {
        border: 1px solid var(--color-green);
        -webkit-text-fill-color: var(--color-green);
        -webkit-box-shadow: 0 0 0px 1000px #171b31 inset;
        transition: background-color 5000s ease-in-out 0s;
      }
    }
  }
}

.error {
  position: absolute;
  bottom: 4px;
  right: 15px;
  font-size: 12px;
  line-height: 1.1;
  color: red;
  padding: 5px 0 0;

  @include media("<phone") {
    bottom: -6px;
  }
}

.textarea {
  height: 100px;
  resize: none;
}

.btnHolder {
  text-align: center;
  margin-top: 43px;

  @include media("<phone") {
    margin-top: 30px;
  }
}
