@import "../../styles/variables";
@import "../../styles/include-media";

.Button {
  user-select: none;
  appearance: none;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  font-weight: 700;
  font-size: 14px;
  line-height: normal;
  border-radius: 100px;
  padding: 16px 36px;
  text-transform: uppercase;
  letter-spacing: 0.21em;
  text-decoration: none;
  transition: all 0.2s ease;

  @include media("<phone") {
    font-size: 13px;
    padding: 12px 27px;
  }

  & + .Button {
    margin-left: 36px;

    @include media("<phone") {
      margin-left: 27px;
    }
  }

  &:last-child {
    margin-right: 0;
  }

  &_fill {
    color: var(--color-blue-dark);
    background-color: var(--color-green-light);
    border: 1px solid var(--color-green-light);

    &:hover {
      color: var(--color-blue-dark);
      background-color: var(--color-green);
      border: 1px solid var(--color-green);
    }
  }

  &_outline {
    color: var(--color-green-light);
    background-color: transparent;
    border: 1px solid var(--color-green-light);

    &:hover {
      color: var(--color-blue-dark);
      background-color: var(--color-green-light);
      border: 1px solid var(--color-green-light);
    }
  }

  &_link,
  &_link-back {
    background-color: transparent;
    border-color: transparent;
    color: var(--color-white);
    padding: 0;
    margin: 16px 0;

    @include media("<phone") {
      margin: 9px 0;
    }

    &:hover {
      color: var(--color-green-light);
    }

    &:after,
    &:before {
      letter-spacing: 0;
      font-family: "icomoon" !important;
      font-size: 9px;
      line-height: 1;
      height: 2.555em;
      width: 2.555em;
      border-radius: 50%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background-color: var(--color-green-light);
      color: var(--color-black);
      transform: translateY(-1px);
    }

    &:after {
      content: "\e901";
      margin-left: 14px;

      @include media("<phone") {
        margin-left: 7px;
      }
    }

    &:before {
      content: "\e906";
      margin-right: 14px;

      @include media("<phone") {
        margin-right: 7px;
      }
    }
  }

  &_link {
    &:before {
      display: none;
    }
  }

  &_link-back {
    &:after {
      display: none;
    }
  }

  &_size {
    &-xl {
      @include media(">=phone") {
        min-width: 222px;
      }
    }
  }
}
