@import "../../styles/variables";
@import "../../styles/include-media";

.item {
  display: flex;
  min-height: 43vw;

  @include media("<tablet") {
    display: block;
    min-height: initial;
  }

  &:not(:last-child) {
    margin-bottom: 141px;

    @include media("<tablet") {
      margin-bottom: 40px;
    }
  }

  &:nth-child(even) {
    flex-direction: row-reverse;

    .img {
      &Decor_side {
        right: auto;
        left: 0;
        background: linear-gradient(
          90deg,
          #0a0d1d 3.74%,
          rgba(10, 13, 29, 0) 96.26%
        );
      }
    }

    .info {
      margin-right: 5%;

      @include media("<tablet") {
        text-align: left;
        margin-right: 0;
      }
    }
  }
}

.img {
  position: relative;
  overflow: hidden;
  width: 49%;
  z-index: 1;

  @include media("<tablet") {
    padding-top: 50%;
    width: auto;
    margin-left: calc(var(--gutter) * -1);
    margin-right: calc(var(--gutter) * -1);
  }

  &Decor_top,
  &Decor_bottom,
  &Decor_side {
    position: absolute;
    z-index: 3;
  }

  &Decor_top,
  &Decor_bottom {
    height: 33.3333%;
  }

  &Decor_bottom {
    background-image: linear-gradient(
      180deg,
      rgba(10, 13, 29, 0) 0%,
      rgb(10, 13, 29, 1) 100%
    );
    bottom: -5px;
    right: -5px;
    left: -5px;
  }

  &Decor_top {
    background-image: linear-gradient(
      0deg,
      rgba(10, 13, 29, 0) 0%,
      rgb(10, 13, 29, 1) 100%
    );
    top: -5px;
    right: -5px;
    left: -5px;
  }

  &Decor_side {
    top: -5px;
    bottom: -5px;
    content: "";
    background-image: linear-gradient(
      90deg,
      rgba(10, 13, 29, 0) 0%,
      rgb(10, 13, 29, 1) 100%
    );
    right: -5px;
    width: 80%;
  }
}

.info {
  align-self: center;
  max-width: calc(526px + (var(--gutter) * 2));
  width: 51%;
  padding: 40px var(--gutter);

  @include media("<tablet") {
    max-width: none;
    width: 100%;
    padding: 30px var(--gutter) 50px;
  }
}

.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 67px;
  height: 67px;
  border-radius: 10px;
  background: linear-gradient(139.24deg, #71ff92 8%, #00ff00 100%);
  margin-bottom: 29px;

  @include media("<tablet") {
    width: 46px;
    height: 46px;
    margin-bottom: 15px;
  }

  &Image {
    @include media("<tablet") {
      max-height: 70% !important;
      min-height: 70% !important;
    }
  }
}

.title {
  margin-bottom: 18px;
}
