@import "../../styles/variables";
@import "../../styles/include-media";

.section {
  position: relative;
  overflow: hidden;
  padding: 90px 0 130px;
  display: flex;
  align-items: center;
  min-height: calc(100vh - 108px);

  @include media("<desktop") {
    min-height: calc(100vh - 106px);
    padding: 60px 0 50px;
  }

  @include media("<phone") {
    min-height: calc(100vh - 82px);
  }

  @include media("<phone-sm") {
    padding-bottom: 35px;
  }
}

.title {
  margin-bottom: 0.78em;

  @include media("<phone") {
    margin-bottom: 0.6em;
  }

  @include media("<phone-sm") {
    max-width: 335px;

    br {
      display: none;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.subTitle {
  margin-bottom: 3.1em;

  @include media("<phone") {
    margin-bottom: 1.5em;

    br {
      display: none;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 46vw;
  overflow: hidden;

  @include media("<desktop") {
    width: 68vw;
  }

  @include media("<phone") {
    width: 88vw;
  }

  img {
    position: relative;
    z-index: 1;
  }

  video {
    object-fit: cover;
    object-position: 50% 50%;
  }

  &:after {
    content: "";
    z-index: 2;
    position: absolute;
    top: -5px;
    left: -5px;
    bottom: -5px;
    right: -5px;
    background: linear-gradient(
      90deg,
      rgb(10, 13, 29, 1) 0%,
      rgb(10, 13, 29, 0.8) 30%,
      rgba(10, 13, 29, 0.5) 100%
    );

    @include media("<phone") {
      background: linear-gradient(
        90deg,
        rgb(10, 13, 29, 1) 0%,
        rgb(10, 13, 29, 0.8) 50%,
        rgba(10, 13, 29, 0.5) 100%
      );
    }
  }
}

.btnHolder {
  @include media("<phone-sm") {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
