@import "../../styles/variables";
@import "../../styles/include-media";

.title {
  color: var(--color-green-light);
  margin-bottom: 0.38em;

  @include media("<phone") {
    margin-bottom: 0.55em;
  }
}

.content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--ff-default);
  }

  h4 {
    font-size: var(--text-size-default);
  }
  p {
    & + h4 {
      margin-top: 1.5em;
    }
  }

  a {
    color: inherit;

    &:hover {
      text-decoration: none;
    }
  }
}
