@import "../../styles/variables";
@import "../../styles/include-media";

.title {
  color: var(--color-green-light);
  margin-bottom: 0.38em;

  @include media("<phone") {
    margin-bottom: 0.55em;
  }
}
