@import "../../styles/variables";
@import "../../styles/include-media";

.section {
  &_variant {
    &_center {
      padding: 92px 0;

      @include media("<desktop") {
        padding: 60px 0;
      }

      .headline {
        text-align: center;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
      }
    }

    &_left {
      padding: 92px 0 52px;

      @include media("<desktop") {
        padding: 60px 0 45px;
      }

      .headline {
        text-align: left;
        max-width: 764px;
      }
    }
  }
}

.title {
  color: var(--color-green-light);
  margin-bottom: 0.22em;
}
