@import "../../styles/variables";
@import "../../styles/include-media";

.section {
  &_variant {
    &_center {
      padding: 91px 0 25px;

      @include media("<desktop") {
        padding: 60px 0 35px;
      }

      .headline {
        text-align: center;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
      }
    }

    &_left {
      padding: 86px 0 52px;

      @include media("<desktop") {
        padding: 60px 0 45px;
      }

      .headline {
        text-align: left;
        max-width: 784px;
      }

      .title {
        margin-bottom: 0.35em;
      }
    }
  }
}

.title {
  color: var(--color-green-light);
  margin-bottom: 0.86em;
}
