@import "../../styles/variables";
@import "../../styles/include-media";

.section {
  &_variant {
    &_center {
      padding: 91px 0 25px;

      @include media("<desktop") {
        padding: 60px 0 35px;
      }

      .headline {
        text-align: center;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

.title {
  color: var(--color-green-light);
  margin-bottom: 1.1em;
}
