.list {
  font-size: 12px;
  line-height: 1;
  display: flex;
  list-style: none;
  padding: 0;
  margin: -5px;

  &Item {
    padding: 5px;
  }
}

.link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  text-decoration: none;
  color: var(--color-blue-dark);
  background-color: var(--color-green);
  border-radius: 50%;

  &:hover,
  &:focus {
    background-color: var(--color-green-light);
  }

  &_youtube,
  &_twitter {
    font-size: 0.85em;
  }
}
