@import "../../styles/variables";
@import "../../styles/include-media";

.nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1;

  @include media("<desktop") {
    font-size: 22px;
  }

  @include media("<phone-sm") {
    font-size: 20px;
  }
}

.list {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0 -16px;

  @include media("<desktop") {
    display: block;
    text-align: center;
    margin: -10px 0;
  }

  &Item {
    padding: 0 16px;

    @include media("<desktop") {
      padding: 15px 0;
    }
  }
}

.link {
  position: relative;
  color: var(--color-white);
  text-decoration: none;
  padding: 3px 0;
  transition: all 0.2s linear;

  &:hover,
  &_active {
    color: var(--color-green);
  }
}
